@import "tailwindcss";

@theme {
  /* Paleta oficial IBGV */
  --color-brand-primary: #5F0811;
  --color-brand-secondary: #7F211E;
  --color-brand-accent: #AB5C5E;
  --color-brand-light: #DEA6AB;

  /* Escala de grises para UI limpia */
  --color-ui-dark: #1A1A1A;
  --color-ui-muted: #666666;
  --color-ui-bg: #FAFAFA;

  /* Tipografías oficiales del manual de marca */
  --font-manofa: var(--font-manofa), sans-serif;
  --font-oswald: var(--font-oswald), sans-serif;
  --font-barcelony: var(--font-barcelony), cursive;
}

/* Configuraciones globales básicas */
@layer base {
  body {
    /* Aplicamos Oswald Light como texto base de toda la web */
    @apply bg-white text-ui-dark font-oswald font-light antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    /* Los títulos conservan Manofa por defecto */
    @apply font-manofa font-normal tracking-wide;
  }
}

/* Aumenta la legibilidad de todos los párrafos en celulares y pantallas */
main p, footer p, footer li {
  font-size: 1.08rem !important; /* Equivalente a un punto medio entre text-base y text-lg */
  line-height: 1.65 !important;
}