@import "tailwindcss";

@theme {
  /* Paleta oficial IBGV */
  --color-brand-primary: #5F0811;
  --color-brand-secondary: #7F211E;
  --color-brand-accent: #AB5C5E;
  --color-brand-light: #DEA6AB;

  /* Escala de grises para UI limpia */
  --color-ui-dark: #1A1A1A;
  --color-ui-muted: #666666;
  --color-ui-bg: #FAFAFA;

  /* Enlazamos las variables tipográficas de layout.tsx */
  --font-manofa: var(--font-oswald), sans-serif; /* <-- Cambiamos esto temporalmente */
  --font-oswald: var(--font-oswald), sans-serif;
  --font-sans: var(--font-inter), sans-serif;
}

/* Configuraciones globales básicas */
@layer base {
  body {
    @apply bg-white text-ui-dark font-sans antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-manofa font-normal tracking-wide;
  }
}